<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Connexion</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="mb-4">Connexion</h1>


    <form th:action="@{/login}" method="post">
        <div>
            <label>Login:</label>
            <input type="text" name="login" maxlength="60" required>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" maxlength="60" required>
        </div>
        <div>
            <button type="submit" class="btn btn-primary mt-4">Se connecter</button>
        </div>
    </form>
</div>
</body>
</html>
